{% if ctx.ref_papers or ctx.ref_datasets %}
## References {#sec-references}

{% if ctx.ref_datasets %}
### Datasets

{% for d in ctx.ref_datasets %}
1. {{ link(d.name, d.url) }}
{% endfor %}
{% endif %}
{% endif %}
